/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOBILE FIRST */
/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.mobile-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

ul {
    list-style-type: none ;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col {
    width: 100%;

    /* TEST */
    border: 1px solid red;
}

.purple-background {
    background-color: #9792e4;
}
/* HEADER */
header {
    height: 85px;
    color: white;
    background-color: #0084fd;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.menu {
    display: none;
}
.menu li {
    padding-left: 30px;
}
.list-flex {
    display: flex;
}
.menu a {
    text-decoration: none;
    color: black;
}
.small-white-button {
    background-color: white;
    padding: 7px 13px;
    border-radius: 20px;
}

/* MAIN */
/* INTRO SECTION */
#intro {
    margin-bottom: -1.5rem;
}
.intro-col {
    margin-bottom: 1.5rem;
}
#intro h3 {
    padding-bottom: 28px;
    color: #0084fd;
    font-size: 21px;
}

#intro p {
    color: #647a8d;
    font-size: 14px;
}
.card {
    background-color: #b5ddff;
    border-radius: 20px;
    padding: 2rem 1.5rem;
    height: 100%;
}
.flex-card {
    display: flex;
    flex-wrap: wrap;
}
.r-pad-del {
    padding-bottom: 0;
}
.img-col {
    display: flex;
    align-items: flex-end;
}
.img-col img {
    max-width: 250px;
}
.apple-button {
    color: white;
    background-color: #0084fd;
    border-radius: 20px;
    padding: 8px 45px;
    display: inline-block;
    margin: 28px 0;
}
.apple-button span {
    margin: 0 2px;
}
.nth-intro-col {
    text-align: center;
    height: 100%;
}
.icon-intro {
    font-size: 5rem;
    color: #0084fd;
}

/* PLANNING SECTION */
#planning {
    color: white;
}
#planning p {
    font-size: 14px;
}
/* LEFT CARD */
.card-planning-left img {
    margin-bottom: 5rem;
}
.card-planning-left h3 {
    font-size: 26px;
}
.card-planning-left p {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
/* RIGHT CARD */
.card-planning-right {
    background-color: white;
    border-radius: 50px;
    color: black;
    text-align: center;
    padding: 0 1rem 2rem;
}
.card-planning-right img {
    margin: 3rem 0 1.5rem;
}
.card-planning-right h3 {
    font-size: 21px;
}
.card-planning-right p {
    margin: 1.5rem 0;
}
.purple-circle {
    background-color: #9792e4;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.flex-purple {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* PARTNERS SECTION */
.text-partners, .row-partner {
    border: 1px solid red;
}

/* BENEFITS SECTION */

/* ABOUT US SECTION */

/* GET STARTED SECTION */
.center-col {
    max-width: calc(1170px / 3);
}
/* FOOTER */
footer {
    background-color: #333333;
}


/* TABLET */
@media screen and (min-width: 768px) {
    /* COMMON */
    .margin-columns {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .padding-col {
        padding: 0 1rem;
    }
    /* INTRO SECTION */
    .intro-col {
        width: calc( 100% / 3 );
    }
    .intro-col:first-child {
        width: calc((100% / 3) * 2);
    }
    /* BENEFITS SECTION */
    .benefits-col {
        width: 50%;
    }
    /* ABOUT US SECTION */
    #about-us .columns {
        flex-wrap: nowrap;
    }
    .right-col {
        flex-shrink: 2;
    }
    /* GET STARTED SECTION */
    
    /* FOOTER */
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    /* HEADER */
    .menu {
        display: block;
    }
    .burger-menu {
        display: none;
    }
    /* INTRO SECTION */
    .r-pad-del {
        padding-right: 0;
    }
    .flex-card {
        flex-wrap: nowrap;
    }
    .img-col {
        justify-content: center;
    }
    .img-col img {
        max-width: 200px;
    }
    /* PLANNING SECTION */
    #planning .container {
        max-width: 900px;
    }
    .planning-columns {
        justify-content: space-between;
    }
    .planning-col {
        width: calc( 50% - 1rem );
    }
    /* BENEFITS SECTION */
    .benefits-col {
        width: calc( 100% / 3 )
    }
    /* ABOUT US SECTION */
    .left-col, .right-col {
        padding: 0 2rem;
    }
}
