/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOBILE FIRST */
/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.mobile-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* HEADER */
header {
    height: 85px;
    color: white;
    background-color: #0084fd;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.menu {
    display: none;
}

/* MAIN */
section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.intro-columns {
    display: flex;
    flex-wrap: wrap;
}
.intro-col {
    width: 100%;

    /* TEST */
    border: 1px solid red;
}

/* TABLET */
@media screen and (min-width: 768px) {
    /* INTRO SECTION */
    .intro-columns {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .intro-col {
        width: calc( 100% / 3 );
        padding: 0 1rem;
    }
    .intro-col:first-child {
        width: calc((100% / 3) * 2);
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    /* HEADER */
    .menu {
        display: block;
    }
    .burger-menu {
        display: none;
    }

}
