/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOBILE FIRST */
/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.mobile-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}
.col {
    width: 100%;

    /* TEST */
    border: 1px solid red;
}

.purple-background {
    background-color: #9792e4;
}
/* HEADER */
header {
    height: 85px;
    color: white;
    background-color: #0084fd;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.menu {
    display: none;
}

/* MAIN */
/* INTRO SECTION */


/* PLANNING SECTION */

/* PARTNERS SECTION */
.text-partners, .row-partner {
    border: 1px solid red;
}

/* BENEFITS SECTION */

/* ABOUT US SECTION */


/* TABLET */
@media screen and (min-width: 768px) {
    /* COMMON */
    .margin-columns {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .padding-col {
        padding: 0 1rem;
    }
    /* INTRO SECTION */
    .intro-col {
        width: calc( 100% / 3 );
    }
    .intro-col:first-child {
        width: calc((100% / 3) * 2);
    }
    /* BENEFITS SECTION */
    .benefits-col {
        width: 50%;
    }
    /* ABOUT US SECTION */
    #about-us .columns {
        flex-wrap: nowrap;
    }
    .left-col, .right-col {
        padding: 0 3rem;
    } 
    .right-col {
        flex-shrink: 2;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    /* HEADER */
    .menu {
        display: block;
    }
    .burger-menu {
        display: none;
    }
    /* PLANNING SECTION */
    #planning .container {
        max-width: 900px;
    }
    .planning-columns {
        justify-content: space-between;
    }
    .planning-col {
        width: calc( 50% - 1rem );
    }
    /* BENEFITS SECTION */
    .benefits-col {
        width: calc( 100% / 3 )
    }

}
